//Fonts
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

$intoLight: 'Shadows Into Light', cursive;

//colours

$champagne: #F6E7CB;
$fireOpal: #EE6352;
$skyBlue : #86BBD8;
