//Fonts
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600;700&family=Dongle:wght@300;400;700&family=Shadows+Into+Light&display=swap');

$intoLight: 'Shadows Into Light', cursive;
$typeFont: 'Chakra Petch', sans-serif;
$nameFont: 'Dongle', sans-serif;

//colours

$champagne: #F6E7CB;
$fireOpal: #EE6352;
$skyBlue : #86BBD8;
$bgcolor: #ffbe08;
$borderColor: #ff960b;