@import './var';
@import './types.scss';

.move {
    max-width: 320px;
    width: 320px;
    margin-bottom: 3px;
    font-family: $nameFont;
    border: solid 5px ;
    border-radius: 4px;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        padding-top: 8px;
    }
    &__type, &__damage-class {
        
        p{    
            padding: 0.1rem 0;
            border-radius: 6px;
            width: 5rem;
            margin-left: 0.25rem;
            font-family: $typeFont;
            text-transform: capitalize;
            text-align: center;
            border-style: solid;
            border-width: 2px;
            color: #f0efe7;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 1.6em;
        text-transform: uppercase;
    }

    &__flavor-text {
        p {
            font-size: 1.5rem;
        }
    }

    &__stats {
        font-size: 1.5rem;
    }
}

.move.physical {
    background-color: coral;
    border-color: red;

    .move__header {
        background-color: red;
    }
}
.move.special {
    background-color: lightblue;
    border-color: blue;

    .move__header {
        background-color: blue;
    }
}
.move.status {
    background-color: grey;
    border-color: darkgrey;

    .move__header {
        background-color: darkgrey;
    }
}