@import './var';
@import './types.scss';

.move {
    max-width: 320px;
    width: 320px;
    margin-bottom: 3px;
    font-family: $nameFont;
    border: solid 5px ;
    border-radius: 4px;
    color: #f0efe7;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        padding-top: 8px;
    }
    &__type, &__damage-class {
        
        p, h3{    
            padding: 0.1rem 0;
            border-radius: 6px;
            width: 5rem;
            margin-left: 0.25rem;
            font-family: $typeFont;
            text-transform: capitalize;
            text-align: center;
            border-style: solid;
            border-width: 2px;
            color: #f0efe7;
        }

        h3 {
            width: auto;
            min-width: 5rem;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 1.6em;
        text-transform: uppercase;
    }

    &__flavor-text {
        p {
            font-size: 1.5rem;
        }
    }

    &__stats {
        font-size: 1.5rem;
    }
}

.move.physical {
    background-color: #C92112;
    border-color: #d96358;

    .move__header {
        background-color: #d96358;
    }
}
.move.special {
    background-color: #4F5870;
    border-color: #83899a;

    .move__header {
        background-color: #83899a;
    }
}
.move.status {
    background-color: #8C888C;
    border-color: #5b585b;

    .move__header {
        background-color: #5b585b;
    }
}