@import '../style/reset';
@import '../style/var';
@import '../style/types';

.individual-pokemon {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 90%;
    background-color: $skyBlue;
    border-radius: 7px;
    font-family: $nameFont;

    &__name {
        text-transform: capitalize;
        padding-top: 0.6em;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
    }

    &__sprite {
        margin: 0 auto;
        margin-top: 0.8em;
        text-align: center;
        background-color: blueviolet;
        width: 6rem;
        border-radius: 50%;
    }

    &__physics {
        display: flex;
        justify-content: space-around;
        padding-top: 0.8em;
        font-size: 1.4rem;
    }

    &__stats {

        padding-top: 0.8em;
        h3 {
            font-size: 1.7rem;
        }
    }

    &__stat-ctn {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        font-size: 1.4rem;
    }

}