@import '../style/var';

.pokemon {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 22px;

    &__card {
        text-align: center;
        width: 220px;
        background-color: $skyBlue;
        margin: 3px 12px;
    }
}

.page-btn {
    text-align: center;
}