@import '../style/var';

.normal {
    background-color: #ACAD99;
}
.fighting {
    background-color: #C45D4C;
}
.poison {
    background-color: #B369AF;
}
.ground {
    background-color: #CEB250;
}
.rock {
    background-color: #BAA85E;
}
.ghost {
    background-color: #816DB6;
}
.steel {
    background-color: #9FA9AF;
}
.fire {
    background-color: #E87A3D;
}
.water {
    background-color: #639CE4;
}
.grass {
    background-color: #82C95B;
}
.electric {
    background-color: #E7C536;
}
.psychic {
    background-color: #E96C95;
}
.ice {
    background-color: #81CFD7;
}
.dragon {
    background-color: #8572C8;
}
.dark {
    background-color: #79726B;
    color: #f9f9f9
}
.fairy {
    background-color: #E8B0EB;
}
.unknow {
    background-color: #9EB3C2;
}
.shadow {
    background-color: #02010A;
    color: honeydew;
}
.flying {
    background-color: #90AAD7;
}
.bug {
    background-color: #ACC23E;
}