@import './style/reset';
@import './style/var';

html {
    scroll-behavior: smooth;
}

body {

    background-color: $champagne;
}
.header {
    display: flex;

    
}

.pokedex-header {
    &__title {
        width: 220px;
    }
    
    &__img {
        width: 100%;
    }

    
}

.page-name {
    text-align: center;
    font-family: $intoLight;
    font-size: 1.5rem;
    padding-bottom: 0.5em;
}

.back-to-top {
    position: fixed;
  bottom: 20px;
  right: 20px;
}