@import './style/reset';
@import './style/var';

html {
    scroll-behavior: smooth;
}

body {

    background-color: $champagne;
}
.header {
    display: flex;
    width: 100%;
    @media only screen and (min-width: 480px) {
        justify-content: space-around;
    }
}

.pokedex-header {
    &__title {
        width: 280px;
    }
    
    &__img {
        width: 100%;
    }

    
}

.page-name {
    text-align: center;
    font-family: $intoLight;
    font-size: 3rem;
}